site_name: FreeMoCap Documentation

theme:
  name: material
  logo: assets/fmc-logo-transparent-bkgd.png
  favicon: assets/skelly_freemocap_favicon.ico
  features:
    - navigation.tabs
    - navigation.instant
    - navigation.tracking
#    - navigation.tabs.sticky
    - navigation.sections
    - navigation.expand

extra_css:
  - stylesheets/extra.css

custom_dir: overrides

nav:
  - 'index.md'
  - 'about_us.md'
  - 'how_to_guides/index.md'  # an index of clickable links to various guides
  - 'terminology/terminology.md'
  - 'roadmap/roadmap.md'  # actually the roadmap
  - 'privacy_policy.md'

markdown_extensions:
  - abbr
  - attr_list
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.snippets:
      auto_append:
        - includes/abbreviations.md
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - toc:
      permalink: true
      toc_depth: 3
extra:
  social:
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/freemocap

    - icon: fontawesome/brands/github
      link: https://github.com/freemocap/freemocap

    - icon: fontawesome/brands/discord
      link: https://discord.gg/SgdnzbHDTG

    - icon: fontawesome/brands/twitch
      link: https://twitch.tv/freemocap

    - icon: fontawesome/brands/youtube
      link: https://www.youtube.com/c/jonmatthis

plugins:
  - mkdocs-video
  - search