name: built_mkdocs_website
on:
  push:
    branches:
      - main
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: 3.11
      - uses: actions/cache@v2
        with:
          key: ${{ github.ref }}
          path: .cache
      
      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Build website
        run: mkdocs gh-deploy --force
